<main>
  <section class="currentstock">
    <div class="container">

        <div class="content">
          <div class="row">
              <div class="col-md-12">
                  <div class="content d-flex align-items-center">
                      <div class="chevron">
                          <i class="bi bi-chevron-left"></i>
                      </div>
                      <div class="box">
                          <h4 style="text-align:center;">Top Crypto Exchanges</h4>
                      </div>
                  </div>

              </div>
          </div>
      </div>

    </div>
  </section>


  <div class="input d-flex align-items-center prodSearchInput">
    <input type="text" class="form-control" id="exampleInputtext" aria-describedby="textHelp" matInput
   #input>
    <button class="btn btn1" (click)="applyFilter(input.value)">Search</button>
</div>


  <div class="matTable mt-4">
    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> logo</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.url" alt="image">
            </td>

            </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>value</th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator #pageselect [pageSizeOptions]="[ 10, 50, 100]"
              aria-label="Select page of users"></mat-paginator>

      </div>
    </div>
  </div>

</main>
